<div class="education">
    <h2>Education</h2><br>
    <div style="height:140px;">
        <a href="https://www.ece.utexas.edu/">
            <img src="/assets/img/UT_logo.webp" align="left" style="border:16px solid white; margin-top: -20px; margin-left: -20px;height:90%;">
        </a>
        <a>The University of Texas at Austin</a><br>
        Sep. 2021 - Current<br>
        Ph.D. in electrical and computer engineering <br><br>
    </div>
    <div style="height:140px;">
        <a href="https://www.csie.ntu.edu.tw/">
            <img src="/assets/img/NTU_logo.webp" align="left" style="border:16px solid white; margin-top: -20px; margin-left: -20px;height:90%;">
        </a>
        <a>National Taiwan University</a><br>
        Sep. 2016 - Sep. 2018 <br>
        M.S. in computer science <br><br>
    </div>
    <div style="height:140px;">
        <a href="https://inf.ethz.ch/">
            <img src="/assets/img/ETHZ_logo.webp" align="left" style="border:16px solid white; margin-top: -20px; margin-left: -20px;height:90%;">
        </a>
        <a>ETH Zürich</a><br>
        Jan. 2015 - Sep. 2015 <br>
        Exchange student <br><br>
    </div>
    <div style="height:140px;">
        <a href="https://www.cs.nycu.edu.tw/">
            <img src="/assets/img/NYCU_logo.webp" align="left" style="border:16px solid white; margin-top: -20px; margin-left: -20px;height:90%;">
        </a>
        <a>National Yang Ming Chiao Tung University </a><br>
        <a>(formerly National Chiao Tung University)</a><br>
        Sep. 2011 - Sep. 2015 <br>
        B.S. in computer science <br><br>
    </div>
</div>
