<div class="education">
    <h2>Education</h2>
    <div style="height:120px;">
        <img src="/assets/img/UTA_logo.svg" align="left" style="border:16px solid white; margin-top: -10px; margin-left: -20px;width:14%;">
        <a>The University of Texas at Austin</a><br>
        Sep. 2021 - Current<br>
        Ph.D. in electrical and computer engineering <br><br>
    </div>
    <div style="height:120px;">
        <img src="/assets/img/NTU_logo.svg" align="left" style="border:16px solid white; margin-top: -10px; margin-left: -20px;width:14%;">
        <a>National Taiwan University</a><br>
        Sep. 2016 - Sep. 2018 <br>
        M.S in computer science <br><br>
    </div>
    <div style="height:120px;">
        <img src="/assets/img/ETHZ_logo.png" align="left" style="border:16px solid white; margin-top: -10px; margin-left: -20px;width:14%;">
        <a>ETH Zürich</a><br>
        Jan. 2015 - Sep. 2015 <br>
        Exchange student <br><br>
    </div>
    <div style="height:120px;">
        <img src="/assets/img/NCTU_logo.svg" align="left" style="border:16px solid white; margin-top: -10px; margin-left: -20px;width:14%;">
        <a>National Yang Ming Chiao Tung University</a><br>
        Sep. 2011 - Sep. 2015 <br>
        B.S in computer science <br><br>
    </div>
</div>
