
<div class="misc">
    <h2>Miscellaneous</h2>
    <ul>
        <li>I like playing table tennis, piano, and taking pictures of new visiting places (<a href="https://www.instagram.com/hyc.footmark">album</a>). </li>
        <li>I served in marine corp from 2015-2016 as the mandatory military service in Taiwan. </li>
        <li>I was diagnosed with thyroid cancer in 2016 and had a total thyroidectomy. Fortunately, I am fine now. </li>
    </ul>
    <br>
    <h2>CV of failures</h2>
    Life can be tough. We fail all the time, but the failures pave the way to success.
    I am working on my CV of failure. Stay tune...
    <br>
    <br>
    <h2>Pro bono office hours</h2>
    I've committed to set aside 1 hours every week to provide mentorship and/or guidance for whoever is in need. If you find my research, work, oversea and/or life experience useful, welcoming to fill in this <a href="https://docs.google.com/forms/d/e/1FAIpQLScxlNtC1qnStXdmbGNCYNJGVOVdZgHAKeNEtzw5cPd3CqS6UA/viewform?usp=sf_link">form</a>.
    For feedback, questions, and/or random messages, please use this <a href="https://docs.google.com/forms/d/e/1FAIpQLSeNNIyi_QjwhiiYdiAVt79-VHuIQNKboLYyrX0fHcqGN09h1A/viewform?usp=sf_link">link</a>.
</div>
