
<div class="work_experience">
    <h2>Work experience</h2>
    <div style="height:140px;">
        <a href="https://www.amazon.jobs/en/job_categories/research-science">
            <img src="/assets/img/amazon-logo.png" align="left" style="border:16px solid white; margin-top: -20px; margin-left: -20px;height:90%;">
        </a>
        <a>Amazon</a> - Research Scientist Intern<br>
        May 2022 - Nov. 2022 <br>
        <i>Image synthesis and generation for shoe virtual try-on</i><br>
    </div>
    <div style="height:140px;">
        <a href="https://www.xyzrobotics.com/">
            <img src="/assets/img/xyz_robotics.png" align="left" style="border:16px solid white; margin-top: -20px; margin-left: -20px;height:90%;">
        </a>
        <a>XYZ Robotics</a> - Deep Learning Engineer<br>
        Jun. 2019 - May 2021 <br>
        <i>Image segmentation and object detection for logistics robots</i><br>
    </div>
</div>
