<div class="work_experience">
    <h2>Work experience</h2>
    <div style="height:140px;">
        <img src="/assets/img/amazon-logo.png" align="left" style="border:16px solid white; margin-top: -10px; margin-left: -20px;height:90%;">
        <a>Amazon</a> - Research Scientist Intern<br>
        May 2022 - Aug. 2022 <br>
        <i>Image synthesis and generation</i><br>
    </div>
    <div style="height:140px;">
        <img src="/assets/img/xyz_robotics.png" align="left" style="border:16px solid white; margin-top: -10px; margin-left: -20px;height:90%;">
        <a>XYZ Robotics</a> - Deep Learning Engineer<br>
        Jun. 2019 - May 2021 <br>
        <i>Image segmentation and object detection for logistics robots</i><br>
    </div>
</div>
