---
layout: default
---

<div class="post">

  <header class="post-header">
    <div style="height:300px;">
      <img align="left" src="{{ page.profile.image | prepend: '/assets/img/' | relative_url }}" style="border:16px solid white; margin-top: -10px; margin-left: -20px;height:100%;">   
      <p class="desc">
        <h1>
          <span>{{ site.first_name }}</span> {{ site.middle_name }} {{ site.last_name }}
        </h1>
        {{ page.description }}
      </p>
    </div>
  </header>

  <article>
    <h2>About me</h2>
    <div class="clearfix">
      {{ content }}
    </div>

    {% if page.news %}
      {% include news.html %}
    {% endif %}

    {% if page.education %}
    {% include education.html %}
    {% endif %}

    {% if page.work_experience %}
    {% include work_experience.html %}
    {% endif %}

    {% if page.selected_papers %}
      {% include selected_papers.html %}
    {% endif %}

    {% if page.social %}
    <div class="social">
      <div class="contact-icons">
        {% include social.html %}
      </div>
      <div class="contact-note">{{ site.contact_note }}</div>
    </div>
    {% endif %}
  </article>

</div>
